{
  "plugins": [
    "@typescript-eslint",
    "tailwindcss"
  ],
  "extends": [
    "next",
    "next/core-web-vitals",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "rules": {
    "prefer-const": "error",
    "@typescript-eslint/ban-ts-comment": "off",
    "react/no-children-prop": "off",
    "@typescript-eslint/no-unused-vars": "error",
    "@typescript-eslint/no-explicit-any": "off",
    "indent": [
      "error",
      2
    ],
    "tailwindcss/classnames-order": [
      "warn",
      {
        "callees": [
          "classnames",
          "clsx",
          "ctl",
          "className",
          "tw"
        ],
        "config": "tailwind.config.js",
        "prependCustom": false,
        "removeDuplicates": true,
        "newlineMinItems": 3,
        "newlineMaxItems": 4
      }
    ],
    "quotes": [
      "error",
      "single"
    ],
    "object-curly-spacing": [
      "error",
      "always"
    ],
    "array-element-newline": [
      "off",
      "always",
      {
        "maxItems": 3,
        "multiline": true
      }
    ],
    "array-bracket-newline": [
      "error",
      {
        "multiline": true
      }
    ],
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1,
        "maxEOF": 1
      }
    ]
  }
}
